target/classes/labmulemaven.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:context="http://www.springframework.org/schema/context" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd">

	<context:property-placeholder location="projectcommon.properties, mule-${env.mule}.properties"/>

    <http:listener-config name="HTTP_Listener_Configuration" host="${commom.local.host.ip}" port="${local.port}" basePath="main" doc:name="HTTP Listener Configuration"/>
    
    <flow name="labmulemavenFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/v1" doc:name="HTTP"/>
        <set-variable variableName="varName" value="#[message.inboundProperties.'http.query.params'.name]" doc:name="Variable"/>
        <set-payload value="#['Hello ' + flowVars.varName + '...!!!']" doc:name="Set Payload"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
